<style type="text/css">
	.contactHeaderRow{
		text-align: center;
	}
	.textDiv{
		padding: 2%;
		text-align: center;
	}
	.ty{
		margin-top: 5%;
	}
</style>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 textDiv">
<h4>PLEASE DO NOT CALL THE HOTELS DIRECTLY</h4> 
<p>All hotel related questions please email <a href="mailto:jlangley@archertravel.com?Subject=Oasis%20Cup" target="_top">jlangley@archertravel.com</a></p>
<p>Tournament related questions please contact <a href="mailto:SDArcher@earthlink.net?Subject=Oasis%20Cup" target="_top">SDArcher@earthlink.net</a></p>
<p>Website related questions please contact <a href="mailto:oasiscuppalmdesert@gmail.com?Subject=Oasis%20Cup" target="_top">oasiscuppalmdesert@gmail.com</a></p>
<p>Hours of operation are Monday-Friday 9am-5pm PST</p>
<p class="ty">Thank you,</p>
<p>Archer Travel and the Oasis Cup</p>
</div>
<div class="col-md-3">
</div>
</div>