<style type="text/css">
	.contactHeaderRow{
		text-align: center;
	}
	.textDiv{
		padding: 2%;
	}
</style>
<div class="row contactHeaderRow">
<h3>Contact</h3>
</div>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 textDiv">
<p>Curabitur scelerisque nulla velit, vel tincidunt libero consectetur at. Maecenas condimentum lectus sit amet nisi pharetra fermentum. Sed et congue dolor. Nulla quis interdum dolor. Nunc at justo id nulla auctor viverra id ac lectus. Aenean eu odio diam. Cras id fermentum elit, a fermentum mauris. Vivamus posuere tincidunt felis, at tempor turpis malesuada quis.</p> 
</div>
<div class="col-md-3">
</div>
</div>