<style type="text/css">
	.faq-header{
		text-align: center;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
		<h3 class="faq-header">OASIS CUP FAQs</h3>
		<h4>The Oasis Cup is a Stay and Play Tournament where teams are required to reserve a MINIMUM NUMBER OF ROOMS to play in the tournament.</h4>
		<h4>1) How many rooms does each team need to reserve? How do I reserver rooms?</h4>
		<p>7 Rooms per night for 3 nights (Friday, Saturday, & Sunday) per team.</p>
		<p>To reserve rooms, please select the rooms you want on the website, and an Archer Travel Agent will contact you within 2 business days.</p>
		<p>To reach an Archer Travel agent, please call 1-800-272-4377.</p>
		<p>Hours of operation are Monday-Friday 8am-5pm PST</p>
		<h4>2) We need 5 rooms for one team in our soccer club, and 9 rooms for another team, can we combine them to meet the minimum requirement?</h4>
		<p>Yes, if all room occupants belong to the same club.</p>
		<h4>3) Can we stay for Saturday and Sunday Only?</h4>
		<p>Yes, providing you live within 50 miles of the tournament location and book the rooms through the housing authority. However, for teams only staying 2 nights, hotels may charge a higher rate for the rooms as this is a holiday weekend.</p>
		<h4>4) Do we have to reserve the same number of rooms for each of the three nights for my teams?</h4>
		<p>Yes, because this is a resort location and a holiday weekend, the hotels require a three- night stay.</p>
		<h4>5) What is the cancellation Policy?</h4>
		<p>If you cancel prior to December 1st, there is no penalty and your funds will be returned. After December 1, there is a cancellation penalty set by each hotel property. Be sure to inquire when making reservations.</p>
		<p>If we are able fill your cancellation, we will return your money less a processing fee of up to one night.</p>
		<h4>6) What if my child is injured/ill and I need to cancel my rooms?</h4>
		<p>We will take this on a case by case basis and will request a refund of unused nights from the hotel. A Doctor’s note may be required for injuries or illness not sustained during the tournament.</p>
		<h4>7) If we are unable to reserve 7 rooms per night for the three nights, and we live more than 50 miles away can we still play in the tournament?</h4>
		<p>Unfortunately, the tournament requires a minimum number of nights in order to play.</p>
		<h4>8) When is the final payment for hotels due?</h4>
		<p>All hotels require full payment by close of business November 30th, 2017.</p>
		<h4>9) Will you take reservations after December 1st for rooms?</h4>
		<p>Yes, however room rate will be significantly higher and inventory limited. If we are unable to accommodate the room request you will be unable to play in the tournament.</p>
		</div>
	</div>
</div>