<h3>Login</h3>
<form action="sessions/new" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	Email: <input type="text" name="email">
	Password: <input type="password" name="password">
	<input type="submit" value="login">
</form>
<% if flash[:errors] %>
	<% if flash[:errors].any? %>
	  <% flash[:errors].each do |error_message| %>
	    <%= error_message %> <br />
	  <% end %>
	<% end %>
<% end %>