<h3>Payment</h3>
<form action="registerpay" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="submit" value="Pay Now">
</form>
<p><%= @user.fee_status %></p>