<style type="text/css">
	.contactHeaderRow{
		text-align: center;
	}
	.textDiv{
		/*padding: 2%;*/
	}
	.textDiv{
		/*text-align: center;*/
	}
	.confP{
		margin-top: 1%;
	}
	.smallH{
		text-align: center;
		margin-top: 3%;
		margin-bottom: 3%;
	}
	.ty{
		margin-top: 3%;
	}
	.bottom{
		/*margin-top: 3%;*/
		margin-bottom: 5%;
	}
	.tcForm{
		text-align: center;
		margin-bottom: 5%;
	}
	.has-error{
		margin-right: 1%;
	}
	.tcRow{

	}
	.agree{
		display: inline;
	}
	.chkboxDiv{

	}
</style>
<div class="row contactHeaderRow">
<h2>Oasis Cups Terms and Conditions</h2>
</div>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8 textDiv">
 
<p>Once you have registered for the Oasis Cup Tournament you will be advised to contact Archer Travel to book your required hotel rooms. Upon completion of the hotel reservation you will be provided a tournament confirmation number.  Due to the high demand of rooms and the resort location of the Oasis Cup your team must secure room reservations prior to June 28, 2018.  If your team fails to secure the required rooms prior to this date you will not be confirmed in the tournament and may not be able to attend. The Oasis Cup Tournament registration price goes up to $800 on June 28, 2017.</p>
 
<p>The Oasis Cup is limited to the first 120 short sided teams and 20 large field teams.  Based on the high interest level for this tournament it will be full. We will take up to 25 teams on a wait list and will notify you if an opening becomes available.  In order to accommodate the advance registration required for the Oasis Cup we will take only a one night deposit for hotel rooms.  If your team is forced to cancel your registration after acceptance into the tournament you will not lose your deposit if your rooms can be filled from our waiting list.</p> 

<h2 class="contactHeaderRow">Tournament Information</h2>

<p>Welcome to the 2017 Oasis Cup Tournament!  This wonderful tournament will be played in Palm Desert California where the weather is great and the fields are even better!  This event is a <strong>"Stay & Play"</strong> Tournament.  All teams are required to book through Archer Travel Service, Inc. Your full cooperation is expected.</p>   
<p><strong>Final</strong> acceptance into the event will be granted after your hotel reservations are confirmed.  This is in agreement & partnership with Crescenta Valley SC and the Director of the Oasis Cup respectively.</p>
<h3 class="smallH">Team Guidelines</h3>
<ul>
	<li><% if @team.exempt %>5<% else %>8<% end %> rooms per team with a 3 night minimum stay required</li>
	<li>1st night room & tax will be charged at time of reservation</li>
    <li>First Night Down Payments on the rooms will be due by June 28, 2017</li>
	<li>Final Payments on the rooms will be due by December 1, 2017</li>
	<li>All guests that are being booked for must be on your guest list.</li>
	<li>Reservations may be made here or by calling 800 272-4377 (800 ARCHERS)</li>
</ul>
<h3 class="smallH">Finalizing The Reservations</h3>
<ul>
	<li>We recommend that the <strong>Team Manager</strong> finalize your reservation first with their access code, especially if you are paying for multiple rooms</li>
	<li>It is important that your families receive the assigned <strong>access code</strong>, immediately to finalize their individual reservations</li>
	<li><strong>Team Managers</strong> are required to work directly with their families to ensure a complete and accurate rooming list</li>
	<li>Any rooms allocated and <strong>NOT CONFIRMED</strong> will be given to other teams on the wait list</li>
	<li>Your families will have <strong>10 days</strong> to finalize their individual reservations</li>
</ul>
<p>Send an email to our Tournament Director at <a href="mailto:oasiscup@yahoo.com?Subject=Oasis%20Cup" target="_top">oasiscup@yahoo.com</a> 
when your reservations are complete. Please provide the following information:</p>
<ul>
	<li>Team Name</li>
	<li>Age Group</li>
	<li>Administrative contact person and e-mail address</li>
	<li>Name of hotel where you will be staying</li>
	<li>Number of rooms you have booked</li>
</ul>
<h3 class="smallH">Contact Information</h3>
<ul>
<li><strong>PLEASE DO NOT CALL THE HOTELS DIRECTLY</strong></li>
<li>All hotel related questions please email <a href="mailto:JoseL@archertravel.com?Subject=Oasis%20Cup" target="_top">JoseL@archertravel.com</a></li>
<li>Tournament related questions please contact <a href="mailto:SDArcher@earthlink.net?Subject=Oasis%20Cup" target="_top">SDArcher@earthlink.net</a></li>
<li>Hours of operation are Monday-Friday 9am-5pm PST</li>
</ul>
<p class="ty">Thank you,</p>
<p class="bottom">Archer Travel and the Oasis Cup</p>
<% if @team.mail_confirmation %>
<!-- <a href="/conf"><button class="btn btn-primary">Send Another Confirmation Email</button></a> -->
<% end %>
<% if flash[:mailSent] %>
<p class="confP">Mail Sent</p>
<% end %>
</div>
<div class="col-md-2">
</div>
</div>
<div class="tcForm">
	<form action="/tc" method="POST" class="agreeForm">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<!-- 		<div class="checkbox form-group">
		  <label><input type="checkbox" name="agree" id="agree" class="agree">I Have Read And Agree To The Terms And Conditions</label>
		</div> -->
		<div class="row tcRow">
	        <div class="form-group">
	            <label for="user[password_confirmation]" class="control-label">
	                I Have Read And Agree To The Terms And Conditions</label>
	            <div class="chkboxDiv">
	                <input type="checkbox" name="agree" id="agree" class="agree">
	            </div>
	        </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6 modalButtons">
                <button type="submit" class="btn btn-primary btn-sm">
                    Continue</button>
            </div>
        </div>
	</form>
</div>
<script>
$(document).on('turbolinks:load', function() {
    $('.agreeForm').validate({
        rules: {
            agree: {
                required: true
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            element.closest('.form-group').removeClass('has-error').addClass('has-success');
        }
    });
});
</script>