<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first %></h1>
    <p>
      You are recieving this email because you requested a password change.<br>
    </p>
    <p>
      To login, please visit <a href="http://www.oasiscup.com">oasiscup.com</a> and use this temporary password:
    </p>
    <h4><%= @random_password %></h4>
    <p>Thanks, and have a great day!</p>
  </body>
</html>