<h2>Hello <%= @user.first %> <%= @user.last %>,</h2>
<h3>You're recieiving this email because a week ago you requested to reserve rooms and didn't make a down payment.</h3>
<h3>Please contact Archer Travel at 1-800-272-4377, or visit <a href="http://www.oasiscup.com">oasiscup.com</a> to change your reservations.</h3>
<h3>Thank you,</h3>
<h3>Archer Travel and the Oasis Cup</h3>