    <h1>Hello <%= @user.first %> <%= @user.last %></h1>
    <h2>Thank you for booking with Archer Travel</h2>
    <h2>Your team has booked the required number of rooms to participate in the tournmanet</h2>
    <h2>Your payment confirmation number is <%= @transaction.transaction_code %> </h2>
    <h4>Send an email to our Tournament Director at <a href="mailto:oasiscup@yahoo.com?Subject=Oasis%20Cup" target="_top">oasiscup@yahoo.com</a>. Please provide the following information:</h4>
    <ul>
    <li>Team Name</li>
    <li>Age Group</li>
    <li>Administrative contact person and e-mail address</li>
    <li>Name of hotel where you will be staying</li>
    <li>Number of rooms you have booked</li>
    </ul>