<h3>Registration Form</h3>
<div>
<form action="/users/create" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	First Name: <input type="text" name="user[first]">
	Last Name: <input type="text" name="user[last]">
	Email: <input type="text" name="user[email]">
	Password: <input type="password" name="user[password]">
	Confirm Password: <input type="password" name="user[password_confirmation]">
	Team Name: <input type="text" name="user[team]">
	<input type="hidden" name="user[fee_status]" value="">
	<input type="submit" value="submit">
</form>
</div>
<% if flash[:errors] %>
	<% if flash[:errors].any? %>
	  <% flash[:errors].each do |error_message| %>
	    <%= error_message %> <br />
	  <% end %>
	<% end %>
<% end %>