Sorry, something went wrong, please try your transaction <a href="http://www.oasiscup.com">again</a>.

<!-- <p><%= @trans_id %></p>
<p><%= @amount %></p>
<p><%= @hash %></p>
<p><%= @response_code %></p> -->