<% @hotels.each do |val| %>
<h3><a href="/hotels/<%= val.id %>"><%= val.name %></a></h3>
<% end %>
<h2><a href="/roomByPrice/1">$70-$120</a></h2>
<h2><a href="/roomByPrice/2">$120-$150</a></h2>
<h2><a href="/roomByPrice/3">$150-$200</a></h2>