<h3>Registration Form - Hotel</h3>
<form action="/hotels/create" method="POST">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	Name: <input type="text" name="hotel[name]">
	Address: <input type="text" name="hotel[address]">
	City: <input type="text" name="hotel[city]">
	State: <input type="text" name="hotel[state]">
	Zipcode: <input type="text" name="hotel[zip]">
	Latitude: <input type="number" name="hotel[lat]" step="any">
	Longitude: <input type="number" name="hotel[long" step="any">
	Phone: <input type="text" name="hotel[phone]">
	Image: <input type="text" name="hotel[image]">
	Description: <input type="text" name="hotel[description">
	Website: <input type="text" name="hotel[wesite]">
	Tax: <input type="number" name="hotel[tax]" step="any">
	<input type="submit" value="submit">
</form>